<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="templates/libraries/ART/index.css">
    </head>
    <body>

		<div id="topbar">
            <div id="topbar_partition" class="icon_div">
			</div>
            <div id="topbar_partition" class="buttons_div">
				<input type="submit" class="selected" value="Home"/>
				<input type="submit" value="Gallery"/>
				<input type="submit" value="Shop"/>
			</div>
            <div id="topbar_partition" class="brands_div">
				<img class="brand-svg" src="templates/libraries/ART/images/facebook-square-brands.svg"/>
				<img class="brand-svg" src="templates/libraries/ART/images/instagram-brands.svg"/>
				<img class="brand-svg" src="templates/libraries/ART/images/twitter-square-brands.svg"/>
			</div>
		</div>
		<div id="picture_collage">
        	<div id="main_pic">
				<img class="zoom" src="templates/libraries/ART/images/backup.png"></img>
            </div>
            <div id="quadrant">
                <div id="quadrant_half">
					<div id="quadrant_quarter">
						<img class="zoom" src="templates/libraries/ART/images/main.png"></img>
					</div>
					<div id="quadrant_quarter">
						<img class="zoom" src="templates/libraries/ART/images/shopnow.png"></img>
					</div>
				</div>
                <div id="quadrant_half">
					<div id="quadrant_quarter">
						<img class="zoom" src="templates/libraries/ART/images/aboutme.png"></img>
					</div>
					<div id="quadrant_quarter">
						<img class="zoom" src="templates/libraries/ART/images/mini1.png"></img>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>
<!--
IMAGE OPTIONS
						<img class="zoom" src="templates/libraries/ART/images/mini3.png"></img>
						<img class="zoom" src="templates/libraries/ART/images/main.png"></img>
						<img class="zoom" src="templates/libraries/ART/images/mini1.png"></img>
						<img class="zoom" src="templates/libraries/ART/images/mini2.png"></img>

MAKING A DIV WITH A FADE BG ON HOVER
					<div id="quadrant_quarter" style="background: red;">
						<img class="zoom" src="templates/libraries/ART/images/shopnow.png"></img>
					</div>
