<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!-- Code based on http://thejit.org/static/v20/Jit/Examples/Hypertree/example1.html -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hypertree - Tree Animation</title>

<!-- CSS Files -->
<link type="text/css" href="templates/libraries/Jit/Examples/css/base.css" rel="stylesheet" />
<link type="text/css" href="templates/libraries/Jit/Examples/css/Hypertree.css" rel="stylesheet" />

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="templates/libraries/Jit/jit.js"></script>

<!-- Example File -->
<script>
// Code based on http://thejit.org/static/v20/Jit/Examples/Hypertree/example1.html

var labelType, useGradients, nativeTextSupport, animate;

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);
})();


function init(){
    //init data
	g_data = JSON.parse('{{data|safe}}')
	console.log(g_data)
	console.log('just got real data')
    //end
    var infovis = document.getElementById('infovis');
    var w = infovis.offsetWidth - 50, h = infovis.offsetHeight - 50;
    
    //init Hypertree
    var ht = new $jit.Hypertree({
      //id of the visualization container
      injectInto: 'infovis',
      //canvas width and height
      width: w,
      height: h,
      //Change node and edge styles such as
      //color, width and dimensions.
      Node: {
          dim: 9,
          color: "#f00"
      },
      Edge: {
          lineWidth: 2,
          color: "#088"
      },
      onBeforeCompute: function(node){
          //Log.write("centering");
      },
      //Attach event handlers and add text to the
      //labels. This method is only triggered on label
      //creation
      onCreateLabel: function(domElement, node){
          domElement.innerHTML = node.name;
          $jit.util.addEvent(domElement, 'click', function () {
              ht.onClick(node.id, {
                  onComplete: function() {
                      ht.controller.onComplete();
                  }
              });
          });
      },
      //Change node styles when labels are placed
      //or moved.
      onPlaceLabel: function(domElement, node){
          var style = domElement.style;
          style.display = '';
          style.cursor = 'pointer';
          if (node._depth <= 1) {
              style.fontSize = "0.8em";
              style.color = "#ddd";

          } else if(node._depth == 2){
              style.fontSize = "0.7em";
              style.color = "#555";

          } else {
              style.display = 'none';
          }

          var left = parseInt(style.left);
          var w = domElement.offsetWidth;
          style.left = (left - w / 2) + 'px';
      },
      
      onComplete: function(){


          //Log.write("done");
          
          //Build the right column relations list.
          //This is done by collecting the information (stored in the data property) 
          //for all the nodes adjacent to the centered node.
          var node = ht.graph.getClosestNodeToOrigin("current");
          var html = "<h4>" + node.name + "</h4><b>Connections:</b>";
          html += "<ul>";
          node.eachAdjacency(function(adj){
              var child = adj.nodeTo;
              if (child.data) {
                  //console.log(Object.keys(child))
                  //console.log(Object.keys(adj))
                  //console.log(Object.keys(node))
                  var rel = (child.data.band == node.name) ? child.data.relation : node.data.relation;
                  var data = JSON.stringify(child.data);
                  html += "<li>" + child.name + " " + "<div class=\"relation\">(data: " + data + ")</div></li>";
              }
          });
          html += "</ul>";
          //$jit.id('inner-details').innerHTML = html;

          //add to the graph
		  console.log('about to send reqeust')
		  var xhr = new XMLHttpRequest();
	      var url = 'http://localhost:5000/hyper_data?tag='
		  xhr.open('GET', url+node.name, true);

		  xhr.onload = function () {
			  console.log('done getting requset from hyperdata')
              var g = JSON.parse(xhr.responseText)
		      console.log(g)
			  // Request finished. Do processing here.
              ht.op.sum(g, {  
                 type: 'replot',
                 fps: 10,  
                 duration: 300,  
                 onComplete: function(){  
                     console.log("sum complete!");  
                 }  
              });  
		  };

		  xhr.send(null);


      }
    });
    //load JSON data.
    ht.loadJSON(g_data);
    //compute positions and plot.
    ht.refresh();
    //end
    ht.controller.onComplete();
}
</script>
</head>

<body onload="init();">
<div id="infovis">


    <!--<div id="center-container">-->
    <!--<div id="infovis"></div>    -->
    <!--</div>-->

<!--<div id="right-container">-->

<!--<div id="inner-details"></div>-->

</div>

</div>
</body>
</html>
