body {
 position: relative;
 font-family: "Helvetica Neue", Helvetica, sans-serif;
 overflow: hidden;
}

h1 {
 font-size: 64px;
 font-weight: 300;
 letter-spacing: -2px;
}

h1, h2 {
 text-rendering: optimizeLegibility;
}

h2 a {
 float: left;
 color: #ccc;
 left: -20px;
 position: absolute;
 width: 740px;
}

footer {
 font-size: small;
}


header aside, footer aside {
 color: #636363;
 text-align: right;
}

aside {
 float:right;
 display:inline;
 font-size: small;
}
.attribution {
 font-size: small;
 margin-bottom: 2em;
}

body > p, li > p {
 line-height: 1.5em;
}


pre, code, textarea {
 font-family: "Menlo", monospace;
}

code {
 line-height: 1em;
}

textarea {
 font-size: 100%;
}

html, body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}

.html .value, .javascript .string, .javascript .regexp {
 color: #756bb1;
}

.html .tag, .css .tag, .javascript .keyword {
 color: #3182bd;
}

.comment {
 color: #636363;
}

.html .doctype, .javascript .number {
 color: #31a354;
}

.html .attribute, .css .attribute, .javascript .class, .javascript .special {
 color: #e6550d;
}

svg {
 font: 10px sans-serif;
}

.axis path, .axis line {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

sup, sub {
 line-height: 0;
}

q:before, blockquote:before {
 content: "?";
}

q:after, blockquote:after {
 content: "?";
}

blockquote:before {
 position: absolute;
 left: 2em;
}

blockquote:after {
 position: absolute;
}

#chart {
 height: 100%;
 width: 100%;
}

.node {
  opacity: 0.5;
}

.node:hover {
  opacity: 1;
}

.node rect {
 cursor: move;
 fill-opacity: .9;
 shape-rendering: crispEdges;
}

.node text {
 pointer-events: none;
 text-shadow: 0 1px 0 #fff;
}

.link {
 fill: none;
 stroke: #000;
 stroke-opacity: .2;
}
.link:hover {
 stroke-opacity: .5;
}

circle.node-dot {
 fill: DarkSlateGray;
}


line.link {
 fill: none;
 stroke: SlateGray;
 stroke-width: 1.5px;
}

marker#defaultMarker {
 fill: SlateGray;
}

line.link.defaultMarker {
 stroke: SlateGray;
}

circle {
 fill: #ccc;
}

text {
 pointer-events: none;
}

text.shadow {
 stroke: #fff;
 stroke-width: 3px;
 stroke-opacity: .8;
}

rect {
 stroke-width: 2;
}

.banner {
  background: #fff;
  font-family: Lato, sans-serif;
}


* {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.nav-bar {
  display: flex;
  border: 1px solid #eee; /* Here */
  background-color: rgb(248,248,248);
  z-index: 3;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  padding: 20px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border-bottom-left-radius:4px;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  border-bottom-right-radius:4px;
  appearance: none; 
  appearance: none; 
    
  padding: 5px;
  box-shadow: rgba(0,0,0,.075);
  border: 2px solid #eee; /* Here */
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
}

.nav-bar li {
  display: flex;
  list-style: none;
  padding: 15px;
  background-color: rgb(248,248,248);
  text-transform: uppercase;
}

li:before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

li.sms:before {
  background-color: rgb(143,186,216);
}
li.sms:hover::before {
  background-color: rgb(32,117,178);
}

li.austin:before {
  background-color: rgb(255,192,148);
}
li.austin:hover::before {
  background-color: rgb(255,129,42);
}

li.smashbrews:before {
  background-color: rgb(153, 206, 153);
}
li.smashbrews:hover::before {
  background-color: rgb(51, 158, 51);
}

li.colorado:before {
  background-color: rgb(243, 158, 151);
}
li.colorado:hover::before {
  background-color: rgb(212, 42, 47);
}

li.colorado_doubles:before {
  background-color: rgb(201, 180, 221);
}
li.colorado_doubles:hover::before {
  background-color: rgb(147, 101, 187);
}

li.pro_melee:before {
  background-color: rgb(197,171,165);
}
li.pro_melee:hover::before {
  background-color: rgb(140,86,76);
}

li.pro_smash4:before {
  background-color: rgb(281,147,224);
}
li.pro_smash4:hover::before {
  background-color: rgb(228,120,193);
}

.sidenav {
    display: block;
    border: 1px solid #eee; /* Here */
    background-color: rgb(248,248,248);
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mySidenav div {
    padding: 20px 20px 20px 20px;
    font-size: 25px;
	width: 90%;
    color: #818181;
    display: flex;
    transition: 0.3s;
    margin: 0 auto;
    justify-content: center;
}



div.matches {
	display:block;
	text-align: center;
}

#mySidenav ul {
    display: table-row;
    width: 100%;
}

#mySidenav li.sms {
  box-shadow: 0px 0px 5px 2px rgb(143,186,216);
}
#mySidenav li.sms:hover {
  box-shadow: 0px 0px 5px 2px rgb(32,117,178);
}

#mySidenav li.austin {
  box-shadow: 0px 0px 5px 2px rgb(255,192,148);
}
#mySidenav li.austin:hover {
  box-shadow: 0px 0px 5px 2px rgb(255,129,42);
}

#mySidenav li.smashbrews {
  box-shadow: 0px 0px 5px 2px rgb(153, 206, 153);
}
#mySidenav li.smashbrews:hover {
  box-shadow: 0px 0px 5px 2px rgb(51, 158, 51);
}

#mySidenav li.colorado {
  box-shadow: 0px 0px 5px 2px rgb(243, 158, 151);
}
#mySidenav li.colorado:hover {
  box-shadow: 0px 0px 5px 2px rgb(212, 42, 47);
}

#mySidenav li.colorado_doubles {
  box-shadow: 0px 0px 5px 2px rgb(201, 180, 221);
}
#mySidenav li.colorado_doubles:hover {
  box-shadow: 0px 0px 5px 2px rgb(147, 101, 187);
}

#mySidenav li.pro {
  box-shadow: 0px 0px 5px 2px rgb(197,171,165);
}
#mySidenav li.pro:hover {
  box-shadow: 0px 0px 5px 2px rgb(140,86,76);
}

#mySidenav li.pro_wiiu {
  box-shadow: 0px 0px 5px 2px rgb(281,147,224);
}
#mySidenav li.pro_wiiu:hover {
  box-shadow: 0px 0px 5px 2px rgb(228,120,193);
}

#mySidenav li {

    align-items:center;
    background-color:rgb(255, 255, 255);
    border-bottom-color:rgba(0, 0, 0, 0.125);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgba(0, 0, 0, 0.125);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgba(0, 0, 0, 0.125);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgba(0, 0, 0, 0.125);
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:border-box;
    color:rgb(41, 43, 44);
    height:50px;
    line-height:24px;
    list-style-type:disc;
    margin-bottom:-1px;
    padding-bottom:12px;
    padding-left:20px;
    padding-right:20px;
    padding-top:12px;
    position:relative;
    text-size-adjust:100%;
    width:60%;
    list-style-type: none;
    text-align: center;
}

#mySidenav li.winner {
    float: left;
	margin: 10px 0;
}

#mySidenav li.loser {
    float: right;
	margin: 10px 0;
}

#mySidenav span {
	background-color:rgb(100, 108, 114);
	border-bottom-left-radius:160px;
	border-bottom-right-radius:160px;
	border-top-left-radius:160px;
	border-top-right-radius:160px;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	display:inline;
	font-family:-apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size:12px;
	font-weight:700;
	height:18px;
	line-height:12px;
	list-style-type:disc;
	padding-bottom:3px;
	padding-left:4.2px;
	padding-right:5.2px;
	padding-top:3px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	white-space:nowrap;
	width:28.7969px;
	-webkit-box-direction:normal;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
