body, html, #container {
    height: 100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

div {
}
#screen {
    background: #d9dff7;
    width: 100%;
}

#top_div {
    display: flex;
    margin: 1%;
    height: 20%;
}

#q1_div {
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    margin: 0% .5% 0% 0%;
    background: #fff;
}

#q2_div {
    box-shadow: 0 0 0px 1px #7386D5;
    width: 25%;
    border-radius: 5px;
    height: 100%;
    margin: 0% .5% 0% .5%;
    background: #fff;
}

#q3_div {
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    margin: 0% .5% 0% .5%;
    background: #fff;
}

#q4_div {
    box-shadow: 0 0 0px 1px #7386D5;
    width: 25%;
    height: 100%;
    margin: 0% 0% 0% .5%;
    border-radius: 5px;
    background: #fff;
}

#tag_div {
    background: #fff;
    margin: 1%;
    height: 10%;
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
}

#bottom_div {
    margin: 1%;
    height: 75%;
}

#left_div {
    background: #fff;
    float: left;
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    height: 79%;
    width: 28%;
}

#right_div {
    background: #fff;
    float: right;
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    height: 79%;
    width: 71%;
}
