body, html, #container {
    height: 100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

div {
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *  Start CSS for the tag and search bar 
 *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#tag_div {
    background: #fff;
    margin: 1%;
    height: 10%;
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
}

#screen {
    background: #d9dff7;
    width: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *  Start CSS for the indivdual stats. Wins/losses etc
 *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#top_div {
    display: flex;
    margin: 1%;
    height: 15%;
}

#q1_div {
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    margin: 0% .5% 0% 0%;
    background: #fff;
}

#q2_div {
    box-shadow: 0 0 0px 1px #7386D5;
    width: 25%;
    border-radius: 5px;
    height: 100%;
    margin: 0% .5% 0% .5%;
    background: #fff;
}

#q3_div {
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    margin: 0% .5% 0% .5%;
    background: #fff;
}

#q4_div {
    box-shadow: 0 0 0px 1px #7386D5;
    width: 25%;
    height: 100%;
    margin: 0% 0% 0% .5%;
    border-radius: 5px;
    background: #fff;
}

#q_left {
    padding: 2.5vh;
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 1vw;
}

#q_right {
    float: right;
    width: 70%;
    height: 100%;
    padding: 4vh;
    text-align: right;
    font-size: 1.5vw;
}

#win_glyph {
    top: 50%;
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    color: #30ad14;
}

#win_circle {
    width: 10vh;
    height: 10vh;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    text-align: center;
    background: #c9e8c2;
    box-shadow: 0 0 0px 2px #30ad14;
}

#loss_glyph {
    top: 50%;
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    color: #f22e4e;
}

#loss_circle {
    width: 10vh;
    height: 10vh;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    text-align: center;
    background: #fce1eb;
    box-shadow: 0 0 0px 2px #f22e4e;
}

#rank_glyph {
    top: 50%;
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    color: #41b7f3;
}

#rank_circle {
    width: 10vh;
    height: 10vh;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    text-align: center;
    background: #d6f5fa;
    box-shadow: 0 0 0px 2px #41b7f2;
}

#percent_glyph {
    top: 50%;
    float:left;
    width:100%;
    line-height:1em;
    margin-top:-0.5em;
    color: #ff812a;
}

#percent_circle {
    width: 10vh;
    height: 10vh;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    text-align: center;
    background: #ffdfc4;
    box-shadow: 0 0 0px 2px #ff812a;
}

#label_div {
    font-size: 0.9vw;
    width:100%;
    height: 40%;
    padding-top:3%;
    line-height:1em;
    text-align:right;
    color: grey;
}

#scene_label_div {
    font-size: 0.9vw;
    width:100%;
    padding-top:3%;
    line-height:1em;
    text-align:right;
    color: grey;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *  Start CSS for the graph
 *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#bottom_div {
    margin: 1%;
    height: 71vh;
    transition: all 0.3s;
}

#left_div {
    background: #fff;
    float: left;
    box-shadow: 0 0 0px 1px #7386D5;
    border-radius: 5px;
    height: 90%;
    width: 28%;
}

#right_div {
    background: #fff;
    float: right;
    box-shadow: 0 0 0px 1px #7386D5;
    height: 90%;
    width: 71%;
}

#myChart {
	height:100%;
	width:100%;
	color: white;
	background:white;
	min-height:150px;
}
.zc-ref {
	display:none;
	background:white;
	color: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *  Start CSS for the 'recent wins' section
 *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#top_half {
    height: 45%;
    width: 100%;
    margin: auto;
    font-size: 150%;
    text-align: center;
    padding: 1vh;
}

#bottom_half {
    height: 45%;
    width: 100%;
    margin: auto;
    font-size: 150%;
    text-align: center;
    padding: 1vh;
}
