<!DOCTYPE html>
<html lang="en">

<head>
    <link href="templates/libraries/css/interactive.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title>Welcome to the Smash Web</title>

    <link rel='stylesheet prefetch' href='templates/libraries/css/animate.min.css'>

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script type="text/javascript" src="templates/libraries/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="templates/libraries/js/jsapi"></script>
    <script type="text/javascript" src="templates/libraries/js/interactive.js"></script>
    <script>
        window['mcpherTreeData'] = JSON.parse('{{data|safe}}')
        window['tag'] = '{{tag}}'
    </script>
</head>
    <body>

		<div id="mySidenav" class="sidenav">
            <div id='tags'>
                <div class='tag'>temp</div>
                <div class='tag'>temp</div>
            </div>

		</div> 


		<div class="nav-bar">
             <div class='title'>
               Smash Web
               <input class="temp" id="searchbar" placeholder='Search for tag'>
             </div>
		  <ul>
			<li class='sms'>
			  SMS
			</li>
			<li class='austin'>
			  AUSTIN
			</li>
			<li class='smashbrews'>
			  SMASHBREWS
			</li>
			<li class='colorado'>
			  COLORADO
			</li>
			<li class='colorado_doubles'>
			  COLORADO DOUBLES
			</li>
			<li class='pro_melee'>
			  PRO MELEE
			</li>
			<li class='pro_smash4'>
			  PRO SMASH 4
			</li>
		  </ul>
		</div>


        <div id="chart">
        </div>
    </body>
</html>
