<!DOCTYPE html>
<html lang="en">

<head>
    <link href="templates/libraries/css/interactive.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title>Welcome to the Smash Web</title>

    <link rel='stylesheet prefetch' href='templates/libraries/css/animate.min.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/libraries/css/side_bar.css">


    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script type="text/javascript" src="templates/libraries/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="templates/libraries/js/jsapi"></script>
    <script type="text/javascript" src="templates/libraries/js/interactive.js"></script>
    <script>
        window['mcpherTreeData'] = JSON.parse('{{data|safe}}')
        window['tag'] = '{{tag}}'
    </script>

</head>
    <body>

        <div class="wrapper">
			<!-- Sidebar Holder -->
			<nav id="sidebar" class='active'>
				<div class="sidebar-header">
					<h3>Smash Web</h3>
					<strong>SW</strong>
				</div>

				<ul class="list-unstyled components">
					<li>
						<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
							<i class="glyphicon glyphicon-home"></i>
							Home
						</a>
						<ul class="collapse list-unstyled" id="homeSubmenu">
							<li><a href="#">Home 1</a></li>
							<li><a href="#">Home 2</a></li>
							<li><a href="#">Home 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="glyphicon glyphicon-briefcase"></i>
							About
						</a>
						<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
							<i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
							Ranks
						</a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
							<li><a href="#">Austin</a></li>
							<li><a href="#">San Marcos</a></li>
							<li><a href="#">Smash brews</a></li>
							<li><a href="#">Colorado</a></li>
							<li><a href="#">Pro Melee</a></li>
							<li><a href="#">Pro Smash 4</a></li>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="glyphicon glyphicon-link"></i>
							Portfolio
						</a>
					</li>
					<li>
						<a href="#">
							<i class="glyphicon glyphicon-paperclip"></i>
							FAQ
						</a>
					</li>
					<li>
						<a href="#">
							<i class="glyphicon glyphicon-send"></i>
							Contact
						</a>
					</li>
				</ul>

				<ul class="list-unstyled components">
					<li id='sidebarCollapse'>
						<a href="#">
							<i class="glyphicon glyphicon-chevron-left"></i>
							Expand
						</a>
					</li>
				</ul>
				<ul class="list-unstyled CTAs">
					<li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
					<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
				</ul>

			</nav>


            <div id="mySidenav" class="sidenav">
                
                <div class='tags' id='tags_div'>
                    <div class='tag' id='tag1'></div>
                    <div class='tag' id='tag2'></div>
                </div>
                <div class='matches' id='matches'>
                    <ul id='matches_list'>

                    </ul>
                </div>

                <div class='bracket' id='bracket_iframe'></div>

            </div> 

            <div id='chart'></div>

            <!-- jQuery CDN -->
            <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
            <!-- Bootstrap Js CDN -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                });
            </script>

            

        </div>
    </body>
</html>
