<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="templates/libraries/css/player.css" rel="stylesheet" type="text/css" />
        <link href="templates/libraries/css/table.css" rel="stylesheet" type="text/css" />
        <link rel='stylesheet prefetch' href='templates/libraries/css/animate.min.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="templates/libraries/css/nav.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
        <script> 
            zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
        </script>

        <script type="text/javascript" src="templates/libraries/js/player.js"></script>

        <script>
            window['tag'] = '{{tag}}'
            window['wins'] = '{{wins}}'
            window['losses'] = '{{losses}}'
            window['percentage'] = '{{percentage}}'
            window['rank'] = '{{rank}}'
            window['scene'] = '{{scene}}'
            window['ranks_data'] = '{{ranks_data|tojson}}'
            window['months_ranked'] = '{{months_ranked|tojson}}'
            window['brackets_data'] = '{{brackets_data|tojson}}'
            window['months_played'] = '{{months_played|tojson}}'
        </script>

    </head>

    <body onload='init()'>

        <div class="wrapper">
            <div id="bg"></div>
            <script>
                $(function(){
                    $("#bg").load("templates/libraries/html/nav.html");
                });
            </script>

            <div id='screen'>
                <div id='tag_div' class='has-feedback'>
					<div id='tag_container_div'></div>
					<form method="get" onsubmit="return handleSearch();">
						<input id='searchValue' type="text" class="textbox" placeholder="Search">
						<input title="Search" value="" type="submit" class="button"></input>
						<i id='search_glyph' class="glyphicon glyphicon-search form-control-feedback"></i>
					</form>
                </div>

                <div id='top_div'>
                    <div id='q1_div'>
                        <div id='q_left'>
                            <div id='win_circle'>
                                <i id='win_glyph' class="glyphicon glyphicon-ok"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='win_count' style='height: 60%;'>
                            </div>
                            <div id='label_div'>
                                Total Wins
                            </div>
                        </div>
                    </div>

                    <div id='q2_div'>
                        <div id='q_left'>
                            <div id='loss_circle'>
                                <i id='loss_glyph' class="glyphicon glyphicon-remove"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='loss_count' style='height: 60%;'>
                            </div>
                            <div id='label_div'>
                                Total Losses
                            </div>
                        </div>
                    </div>

                    <div id='q3_div'>
                        <div id='q_left'>
                            <div id='percent_circle'>
                                <i id='percent_glyph' class="glyphicon glyphicon-flag"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='percent_count' style='height: 60%;'>
                            </div>
                            <div id='label_div'>
                                Win Rate
                            </div>
                        </div>
                    </div>

                    <div id='q4_div'>
                        <div id='q_left'>
                            <div id='rank_circle'>
                                <i id='rank_glyph' class="glyphicon glyphicon-signal"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='rank_count' style='height: 60%;'>
                            </div>
                            <div id='scene_label_div'>
                                Current Rank
                            </div>
                        </div>
                    </div>

                </div>

                <div id='bottom_div'>
                    <div id='left_div'>
						<div id='top_half'>
							Big Wins
							<div class="table100 ver5 m-b-110">
								<div class="table100-head">
									<table>
										<thead>
											<tr class="row100 head">
												<th class="cell100 column1">Opponent</th>
												<th class="cell100 column2">Rank</th>
												<th class="cell100 column3">Date</th>
												<th class="cell100 column4">Score</th>
											</tr>
										</thead>
									</table>
								</div>

								<div class="table100-body js-pscroll">
									<table>
										<tbody id='wins_table'>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div id='bottom_half'>
							Bad Losses
							<div class="table100 ver5 m-b-110">
								<div class="table100-head">
									<table>
										<thead>
											<tr class="row100 head">
												<th class="cell100 column1">Opponent</th>
												<th class="cell100 column2">Rank</th>
												<th class="cell100 column3">Date</th>
												<th class="cell100 column3">Score</th>
											</tr>
										</thead>
									</table>
								</div>

								<div class="table100-body js-pscroll">
									<table>
										<tbody id='losses_table'>
										</tbody>
									</table>
								</div>
							</div>
						</div>
                    </div>

                    <div id='right_div'>
                        <div id='tabs_div'>
                            <div onclick='setTab("rankings")' id='left_tab_div'>Lifetime Rankings</div>
                            <div onclick='setTab("brackets")' id='right_tab_div'>Bracket Placing</div>
                        </div>
                        <div id='chart_div'>
                            <div id="myChart">
                                <a class="zc-ref"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Now that we have defined all body elements, run some js -->
        <script type="text/javascript" src="templates/libraries/js/player_rank_graph.js"></script>
    </body>
</html>
