<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="templates/libraries/css/player.css" rel="stylesheet" type="text/css" />
        <link rel='stylesheet prefetch' href='templates/libraries/css/animate.min.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="templates/libraries/css/nav.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
        <script> 
            zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
        </script>

        <script type="text/javascript" src="templates/libraries/js/player.js"></script>

        <script>
            window['tag'] = '{{tag}}'
            window['wins'] = '{{wins}}'
            window['losses'] = '{{losses}}'
            window['percentage'] = '{{percentage}}'
            window['rank'] = '{{rank}}'
            window['scene'] = '{{scene}}'
        </script>

    </head>

    <body onload='init()'>

        <div class="wrapper">
            <div id="bg"></div>
            <script>
                $(function(){
                    $("#bg").load("templates/libraries/html/nav.html");
                });
            </script>

            <div id='screen'>
                <div id='tag_div'right_div>
                </div>

                <div id='top_div'right_div>
                    <div id='q1_div'>
                        <div id='q_left'>
                            <div id='win_circle'>
                                <i id='win_glyph' class="glyphicon glyphicon-ok"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='win_count' style='height: 60%;'>
                            </div>
                            <div id='label_div'>
                                Total Wins
                            </div>
                        </div>
                    </div>

                    <div id='q2_div'>
                        <div id='q_left'>
                            <div id='loss_circle'>
                                <i id='loss_glyph' class="glyphicon glyphicon-remove"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='loss_count' style='height: 60%;'>
                            </div>
                            <div id='label_div'>
                                Total Losses
                            </div>
                        </div>
                    </div>

                    <div id='q3_div'>
                        <div id='q_left'>
                            <div id='percent_circle'>
                                <i id='percent_glyph' class="glyphicon glyphicon-flag"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='percent_count' style='height: 60%;'>
                            </div>
                            <div id='label_div'>
                                Win Rate
                            </div>
                        </div>
                    </div>

                    <div id='q4_div'>
                        <div id='q_left'>
                            <div id='rank_circle'>
                                <i id='rank_glyph' class="glyphicon glyphicon-signal"></i>
                            </div>
                        </div>

                        <div id='q_right'>
                            <div id='rank_count' style='height: 60%;'>
                            </div>
                            <div id='scene_label_div'>
                                Current Rank
                            </div>
                        </div>
                    </div>

                </div>

                <div id='bottom_div'>
                    <div id='left_div'>
                    </div>

                    <div id='right_div'>
                        <div id="myChart">
                            <a class="zc-ref"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Now that we have defined all body elements, run some js -->
        <script type="text/javascript" src="templates/libraries/js/player_rank_graph.js"></script>
    </body>
</html>
