<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="templates/libraries/css/nav.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel='stylesheet prefetch' href='templates/libraries/css/ranks.css'>

		<script>
			window['prev_ranks'] = '{{prev_ranks|tojson}}'
			window['cur_ranks'] = '{{cur_ranks|tojson}}'
			window['date'] = '{{date}}'
			window['scene'] = '{{scene}}'
		</script>

    </head>

    <body onload='init()'>

        <div class="wrapper">
            <div id="bg"></div>
            <script>
                $(function(){
                    $("#bg").load("templates/libraries/html/nav.html");
                });
            </script>

            <div id='screen'>
                <div id='top_div'>
					<div class="form-group">
						<label>First check in:</label>
						<input type="text" class="form-control form-control-1 input-sm" placeholder="CheckIn" >
					</div>
				</div>
				<div id='center_div'>
					<table id='ranks_table'>
						<thead>
							<tr>
								<th>Tag</th>
								<th>Rank</th>
								<th>Change</th>
							</tr>
						</thead>
					</table>
				</div>
				<div id='bottom_div'>
					<div onclick="previous_month('{{date}}')" id='prev_month_div'>
						<i id='prev_glyph' class="glyphicon glyphicon-triangle-left"></i>
						Previous Month
					</div>
					<div onclick="next_month('{{date}}')" id='next_month_div'>
						<i id='next_glyph' class="glyphicon glyphicon-triangle-right"></i>
						Next Month
					</div>
				</div>
            </div>

        </div>


        <!-- Now that we have defined all body elements, run some js -->
        <script type="text/javascript" src="templates/libraries/js/ranks.js"></script>
    </body>
</html>
