<!DOCTYPE html>
<meta charset="utf-8">
<svg width="960" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    window['mcpherTreeData'] = JSON.parse('{{data|safe}}')
    window['tag'] = '{{tag}}'
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    var randomX = d3.randomNormal(width / 2, 80),
        randomY = d3.randomNormal(height / 2, 80),
        data = d3.range(2000).map(function() { return [randomX(), randomY()]; });

    var g = svg.append("g");

    var circle = g.selectAll("circle")
      .data(data)
      .enter().append("circle")
        .attr("r", 2.5)
        .attr("transform", function(d) { return "translate(" + d + ")"; });

    svg.append("rect")
        .attr("fill", "none")
        .attr("pointer-events", "all")
        .attr("width", width)
        .attr("height", height)
        .call(d3.zoom()
            .scaleExtent([1, 8])
            .on("zoom", zoom));

    function zoom() {
      g.attr("transform", d3.event.transform);
    }

    google.load("jquery", "1");
    google.setOnLoadCallback(function() {
        initialize().then(
            function(control) {
                console.log('fuk')
                var initial_node = get_node_from_tag(control.data.nodes, tag);
                initial_node.isCurrentlyFocused = initial_node.isCurrentlyFocused;
                ls = get_all_links_with_node(control, initial_node);
                ns = get_all_nodes_with_links(control, links, initial_node);
                control.links = ls;
                control.nodes = ns;
                console.log('found these relevant links');
                //doTheTreeViz(control);
            }
        );
    });

    function get_node_from_tag(nodes, tag) {
        console.log(tag);
        for (var i = 0; i < nodes.length; i++) {
            n = nodes[i];
            if (n.name == tag) {
                console.log('found the requested tag!');
                return n
            }
        }
        return nodes[0]
    }

    function get_all_links_with_node(control, n) {
        console.log('about to get all links with the node');
        links = [];
        for (var i = 0; i < control.data.links.length; i++) {
            var link = control.data.links[i];
            if (link.target && link.source) {
                if (link.target.name == n.name || link.source.name == n.name) {
                    links.push(link);
                }
            }
        }
        return links;
    }

    function get_all_links_with_node(control, n) {
        console.log('about to get all links with the node');
        links = [];
        for (var i = 0; i < control.data.links.length; i++) {
            var link = control.data.links[i];
            if (link.target && link.source) {
                if (link.target.name == n.name || link.source.name == n.name) {
                    links.push(link);
                }
            }
        }
        return links;
    }

    function get_all_nodes_with_links(control, links, initial_node) {
        let nodes = new Set();
        nodes.add(initial_node);
        for (var i = 0; i < links.length; i++) {
            link = links[i];
            nodes.add(link.source);
            nodes.add(link.target);
        }
        ns = Array.from(nodes);
        ns[0].isCurrentlyFocused = true;
        return ns;
    }
</script>
